.flex-container {
  display: flex;
  flex-wrap: wrap;
  /*background-color: #1e90ff;*/
}

.flex-container > div {
  position: relative;
  background-color: #f1f1f1;
  width: 18.8%;
  min-height: 48vh;
  margin: 10px;
  line-height: 75px;
  font-size: 30px;
}
.flex-container > div > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text_slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
