/* .flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  position: relative;
  background-color: #f1f1f1;
  width: 18.8%;
  min-height: 48vh;
  margin: 10px;
  line-height: 75px;
  font-size: 30px;
}
.flex-container > div > img {
  position: absolute;
  width: 100%;
  height: 100%;
} */

.flex-container {
  display: flex;
}

.flex-container .item {
  flex-basis: 100%;
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-container .item img {
  height: 100%;
}

.text_slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.counter h1,
p {
  background: #edf0f5;
  color: #000;
  height: auto;
}

/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "notice-container-1 notice-container-2"
    "notice-container-3 notice-container-4";
}

.notice-container-1 {
  grid-area: notice-container-1;
}

.notice-container-2 {
  grid-area: notice-container-2;
}

.notice-container-3 {
  grid-area: notice-container-3;
}

.notice-container-4 {
  grid-area: notice-container-4;
}

.notice-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "noticeset-1 noticeset-2 noticeset-3"
    "noticeset-1 noticeset-2 noticeset-3";
  grid-area: notice-container-grid;
}
.notice-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "noticeset noticeset noticeset"
    "noticeset noticeset noticeset";
  grid-area: notice-container;
}
.noticeset {
  grid-area: noticeset;
}

.noticeset-1 {
  grid-area: noticeset-1;
}
.noticeset-2 {
  grid-area: noticeset-2;
}
.noticeset-3 {
  grid-area: noticeset-3;
} */

.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* img {
  height: 100%;
} */
video {
  height: 100%;
}
.text {
  height: 100%;
}

/* .notice-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "noticeset";
  grid-area: notice-container;
}
.noticeset {
  grid-area: noticeset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

/* .notice-container {
  width: 50%;
  max-height: 50vh;
}
.notice-container img {
  width: inherit;
  height: auto !important;
  display: block;
} */

#noticecontainer {
  height: 100vh;
  width: 100%;
}
.item {
  float: left;
  height: 50%;
  width: 50%;
}
img {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

/* .split {
  height: 50%;
  width: 50%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  top: 0;
  left: 0;
}

.right {
  top: 0;
  right: 0;
}
.bottom-left {
  top: 50%;
  left: 0;
}

.bottom-right {
  top: 50%;
  right: 0;
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  height: 100% !important;
  width: auto !important;
} */
