.flex-container {
  display: flex;
}

.flex-container .item {
  flex-basis: 100%;
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-container .item img {
  height: 100%;
}

.text_slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// .counter {
//   height: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
// }
// .counter h1,
// p {
//   background: #edf0f5;
//   color: #000;
//   height: auto;
// }

// .grid-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
// }
//  img {
//   height: 100%;
// }

.text {
  height: 100%;
}

#noticecontainer {
  height: 100vh;
  width: 100%;
  .items {
    float: left;
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      // margin-left: auto;
      // margin-right: auto;
      // height: 100%;
      // display: block;
      height: 100%;
      width: 100%;
      object-fit: contain;
      image-rendering: auto;
    }

    video {
      height: 100%;
      width: 100%;
      // display: block;
      object-fit: contain;
    }
  }
  .itemz {
    float: left;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      // margin-left: auto;
      // margin-right: auto;
      // height: 100%;
      // display: block;
      height: 100%;
      width: 100%;
      object-fit: contain;
      image-rendering: auto;
    }

    video {
      height: 100%;
      width: 100%;
      // display: block;
      object-fit: contain;
    }
  }
}

.grid-slider {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .item {
    // -ms-flex: 1; /* IE 10 */
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    max-height: 100%;
    width: auto;
    img,
    video {
      width: 100%;
      max-height: 100% !important;
    }
  }
}
